.heading{
    margin-top: 150px;
    margin-left: 180px;
    width: 465px;
    height: 51px;
    text-align: left;
    font: normal normal bold 38px/48px Univers;
    letter-spacing: 0px;
    color: #000000;
}

.mat_tab{
    margin-left: 181px;
    font: normal normal bold 21px/32px Univers;
    height: 500px;
}

table {
    width: 100%;
  }