<div class="tournament">
    <div><span class="games">{{title | uppercase}}</span></div>
    <div class="figures">
        <figure class="red_car">
            <img src="../../assets/red_car.png">
            <figcaption>Rocket League First Strike</figcaption>
        </figure>
        <figure class="blue_car">
            <img src="../../assets/blue_car.png">
            <figcaption>Rocket League First Strike</figcaption>
        </figure>
        <figure class="girl">
            <img src="../../assets/girl.png">
            <figcaption>Rocket League First Strike</figcaption>
        </figure>
        <figure class="villain">
            <img src="../../assets/villain.png">
            <figcaption>Rocket League First Strike</figcaption>
        </figure>
    </div>
</div>