.sports{
    display: inline-flex;
    margin-top: 150px;
    .text{
        margin-left: 179px;
        margin-right: 30px;
        align-self: center;
        width: 537px;
        height: 196px;
        text-align: left;
        font: normal normal bold 50px/63px Univers;
    }
    button{
        background-color: Transparent;
        background-repeat:repeat;
        cursor:pointer;
        overflow: hidden;
        border: 1px solid #053C83;
        width: 272px;
        height: 64px;
        font: normal normal normal 18px/27px Univers;
        color: #053C83;
    }
}